.btn {
    border: none;
    padding: $s-size $l-size;
    font-weight: 600;
    font-size: $m-size;
    letter-spacing: 2px;
    transition: .3s ease-in-out;

    &:hover {
        background: $btn-hover-background;
    }

    &:focus {
        background: $btn-focus-bg;
        color: $btn-focus-font;
    }
}

.btn:disabled {
    background: $btn-disabled;
    transition: .3 ease-in-out;
}