.desktop__container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desktop__wrapper {
    width: 90%;
}

.quick-payments {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quick-payments__title {
    font-size: $xl-size;
}

.quick-payments__buttons-container {
    display: flex;
    justify-content: space-around;

    button {
        margin: 0 $m-size;
    }
}

.summary {
    display: flex;
    margin:$l-size 0;
    justify-content: space-between;
    align-items: center;
}

.summary__preview {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.preview__text {
    font-size: $m-size*1.5;
}

.payment__btn {
    margin-left: $m-size;
}

.summary__analysis {
    display: flex;
}

.toggle_placeholder {
    border: 1px solid black;
}

.desktop__chart {
    height: $xxl-size*4;
    background: grey;
    width: 100%;
    margin:$l-size 0;
    border-radius: 10px;
}

.desktop__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    height: $xxl-size*5;
    margin-bottom: $xl-size;
}

.content__sidebar {
    width:48%;
}

.sidebar__products-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products__single-product {
    box-sizing: border-box;
    padding: 0 $m-size;
    height: $xxl-size*1.1;
    width: 47%;
    margin: 0 0 $m-size 0;
    border: 1px solid $input-color;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.single-product_icon {
    width: 80px;
    height: 80px;
    background: grey;

}
.single-product__description {
    width: 50%;
}

.single-product__description__text {
    font-size: $m-size;
}


.sidebar__history-grid {
    border: 1px solid $input-color;
    border-radius: 10px;
    overflow-y: scroll;
    height: 80%;
}

.list {
    list-style: none;
    padding: 0;
}

.list__item {
    padding: $m-size 0;
    margin: $m-size 0;
    display: flex;
    justify-content: normal;
    border-bottom: 1px solid $input-color;
    font-size: $m-size;
    width: 100%;
}

.item__date {
    text-align: center;
    width: 20%;
}

.item__description {
    display: flex;
    justify-content: left;
    width: 40%;
}

.description__text {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
}

.item__category {
    width: 20%;
}

.category__select {
    border-radius: 10px;
    padding: 2px;
    width: 80%;
}

.item__amount {
    text-align: right;
    width: 15%;
    font-weight: bold;

    &--income {
        color: $income;
    }

    &--outcome {
        color: $outcome;
    }
}
