.h-l-grid {
    display: flex;
    justify-content: space-between;
    margin:$s-size 0 0 0;
}

.history__wrapper {
    border: 1px solid $border-color;
    border-radius: 10px;
    height: 50vh;
    overflow-y: scroll;
}

.h-c__title {
    flex: 1;
}

.h-l-inputs__container {
    @extend .h-l-grid;
    @extend .main__grid;
    width: 100%;
    flex: 1;
    align-items: center;
}

.h-l__titles {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.h-l-grid--column {
    flex-direction: column;
    margin-bottom: $xl-size;
    @extend .h-l-grid;
    width: 70%;
}

.h-l__label {
    margin-right: $s-size;
}

.h-l_search,
.h-l__select {
    border-radius: 10px;
    box-shadow: none;
    border: 1px solid black;
    padding: $s-size * 0.5;
    width: 70%;
}

.inputs__element {
    width: 50%;
}