.page {
    position: absolute;
    width: 100%;
}

//default - settings from transition group
.fade-appear,
.fade-enter {
    opacity: 0;
}

.fade-appear-active,
.fade-enter-active {
    opacity: 1;
    transition: opacity .3s linear;
}

.fade-exit {
    opacity: 1;
    transition: opacity .2s linear;
}

.fade-exit-active {
    opacity: 0;
}