.btn {
    border: none;
    cursor: pointer;
    font-size: $m-size;
    font-weight: 600;
    letter-spacing: 2px;
    padding: $s-size $l-size;
    transition: .3s ease-in-out;
    width: 100%;
    @media (min-width: $tablet) {
        flex-direction: row;
        width: unset;
    }
    &:hover {
        background: btnColor(hover-background);
    }
    &:focus {
        background: btnColor(focus-bg);
        color: btnColor(focus-font);
    }
}

.btn:disabled {
    background: btnColor(disabled);
    transition: .3 ease-in-out;
}

.payment__btn {
    display: none;
    @media (min-width: $tablet-landscape) {
        display: inline-block;
        flex-direction: row;
        margin-left: $m-size;
        width: auto;
    }
}

.btn--bg-transparent {
    background: none;
    color: btnColor(forgotten-password);
}

.btn-logout {
    background: none;
    border: none;
    cursor: pointer;
    &__icon {
        fill: btnColor(logout);
        height: $l-size;
        transition: .5s ease-in-out;
        width: $l-size;

        &:hover {
            fill: btnColor(logout-h);
            transform: scale(1.1);
        }
    }
}