.header {
    background: themeColor(bg-color);
    -webkit-box-shadow: 2px 1px 25px -6px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 2px 1px 25px -6px rgba(0, 0, 0, 0.65);
    box-shadow: 2px 1px 25px -6px rgba(0, 0, 0, 0.65);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: $xxl-size;
    width: 100%;
    justify-content: center;

    &__container {
        height: 100%;
        width: 100%;
        @media (min-width: $tablet) {
            width: 90%;
        }
    }
    &__wrapper {
        display: flex;
        height: inherit;
        margin: 0 $l-size;
        @media (min-width: $tablet) {
            margin: 0;
        }
    }
    &__account {
        display: none;
        flex: 1;
        @media (min-width: $tablet-landscape) {
            display: flex;
        }
    }
    &__logo {
        height: $xxl-size;
        width: $xxl-size;
        color: themeColor(light-font);
        background: themeColor(grey);
    }
}

.account {
    &__profile-img {
        background: themeColor(grey);
        color: themeColor(light-font);
        height: $xxl-size;
        width: $xxl-size;
    }
    &__user {
        align-content: space-around;
        display: flex;
        flex-direction: column;
        padding: 0 $s-size;
    }
    &__settings {
        display: flex;
        justify-content: space-around;
    }
}

.settings__box {
    height: $m-size;
    width: $m-size;
}

.btn__mobile {
    align-self: center;
    background: transparent;
    border: 0;
    border-top: 5px solid black;
    cursor: pointer;
    height: 35px;
    position: relative;
    transition: 0.3s transform linear;
    width: 40px;

    @media (min-width: $tablet-landscape) {
        display: none;
    }
}

.btn__mobile::before,
.btn__mobile::after {
    border-top: 5px solid black;
    content: '';
    left: 0;
    position: absolute;
    top: 0;
    transform: translateY(10px);
    width: 100%;
}

.btn__mobile::after {
    transform: translateY(25px);
    transition: 0.3s transform linear;
}

.btn__mobile:focus {
    border: none;
    transform: rotate(45deg) translateY(5px);
}

.btn__mobile:focus::after {
    transform: rotate(-90deg) translateX(-10px);
}