.nav {
    display: none;
    @media (min-width: $tablet-landscape) {
        align-items: center;
        display: flex;
        flex: 1;
        justify-content: space-around;
    }
}

.nav-list {
    list-style: none;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.nav-list__item {
    text-align: center;
}

.nav__text {
    padding-left: $s-size;
    padding-right: $s-size;
    text-decoration: none;
    font-size: $m-size;
    color: themeColor(font-color);
    font-weight: bold;
    transition: .2s ease-in-out;
    display: block;
    box-sizing: border-box;
    padding-top: 42px;
    height: 100%;
    &:hover {
        background: btnColor(hover-background);
    }
    &:focus {
        color: btnColor(focus-font);
        background: btnColor(focus-bg);
    }
}