.main__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.main__grid {
    width: 90%;
}

.desktop__content {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    margin-bottom: $xl-size;
    width: 100%;
    @media (min-width: $tablet-landscape) {
        flex-direction: row;
    }
}

.content__sidebar {
    width: 100%;
    @media (min-width: $tablet-landscape) {
        width:48%;
    }
}

.desktop-loading__bg {
    align-items: center;
    background: white;
    display: flex;
    height: 100vh;
    justify-content: center;
    opacity: 1;
    width: 100%;
}