.sidebar__products-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products__single-product {
    box-sizing: border-box;
    cursor: pointer;
    color: themeColor(font-color);
    padding: 0 $m-size;
    height: $xxl-size*1.1;
    width: 100%;
    margin: 0 0 $m-size 0;
    border: 1px solid themeColor(input-color);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;

    @media (min-width: $tablet) {
        width: 47%;
    }
}

.single-product__icon {
    width: 80px;
    height: 80px;
    svg {
        &:hover {
            fill: themeColor(inactive-icon);
        }
    }
}

.products__single-product {
    &:focus {
        .single-product__icon {
            svg {
                fill: themeColor(inactive-icon);
            }
        }
    }
    &:hover {
        .single-product__icon {
            svg {
                fill: themeColor(inactive-icon);
            }
        }
    }
}

.single-product__description {
    width: 50%;
}

.single-product__description__text {
    font-size: $m-size;
}