.sidebarHistory {

    &__wrapper {
        border: 1px solid themeColor(input-color);
        border-radius: 10px;
        overflow-y: scroll;
        height: 30rem;

        @media (min-width: $tablet-landscape) {
            height: 35rem;
        }
    }

    &__list {
        list-style: none;
        padding: 0;
    }
}