.summary {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: $l-size 0;
    @media (min-width: $tablet-landscape) {
        flex-direction: row;
    }
    &__preview {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 0 0 $m-size 0;
        width: 100%;
        @media (min-width: $tablet) {
            align-items: flex-start;
            flex-direction: row;
            justify-content: space-between;
            margin: 0 0 $s-size 0;
            width: 60rem;
        }
    }
    &__item {
        align-items: center;
        margin: 0 0 2rem 0;
        text-align: center;

        @media (min-width: $tablet) {
            align-items: flex-start;
            margin: 0;
            text-align: left;
        }
    }
    &__analysis {
        display: flex;
    }
    &__text {
        font-size: $m-size*1.5;
    }
}