.toggle {
    border-radius: 40px;
    cursor: pointer;
    height: $l-size;
    position: relative;
    width: 95px;
}

.toggle input {
    cursor: pointer;
    height: 34px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 84px;
    z-index: 6;
}

.toggle input:checked~.toggle__btn {
    left: 70px;
}

.toggle input:checked~.toggle__bg {
    background: #27ae60;
}

.toggle .toggle__btn {
    border-radius: 50px;
    border: 2px solid #1f1e1e;
    box-shadow: 0 5px 5px rgba(50, 50, 50, 0.2);
    display: block;
    height: $m-size;
    left: 2px;
    position: absolute;
    top: 7px;
    transition: left 0.25s ease;
    width: $m-size;
    z-index: 4;
}

.toggle .toggle__btn:after {
    background: #e3e3e3;
    border-radius: 50px;
    content: "";
    height: 30px;
    left: 70%;
    margin-left: -12.5px;
    margin-top: -12.5px;
    position: absolute;
    top: 36%;
    width: 30px;
}

.toggle .toggle__label {
    color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    position: absolute;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    top: 10px;
    width: 100%;
    z-index: 2;
}

.toggle input:checked~.toggle__label:before {
    content: "On";
    left: 7px;
    position: absolute;
    top: -1px;
}

//styling before checked
.toggle input~.toggle__label:after {
    content: "Off";
    position: absolute;
    right: 7px;
    top: -1px;
}

//styling checked
.toggle input:checked~.toggle__label:after {
    content: "";
}

.toggle .toggle__bg {
    background: grey;
    border-radius: 40px;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}