.transfer-card {
    border-radius: 10px;
    box-shadow: 0 37.125px 70px -12.125px rgba(0, 0, 0, 0.3);
    height: auto;
    margin: $s-size 0 $xl-size 0;
    width: 100%;

    @media (min-width: $tablet) {
        width: 60rem;
    }
}

.transfer-card__grid {
    padding: $s-size;
}

.previous-page {
    cursor: pointer;
    display: block;
    font-size: $xl-size;
    margin: $s-size 0;
    width: 5rem;
}

.transfer__select-container {
    border-radius: 10px;
    border: 1px solid themeColor(border-color);
    display: flex;
    height: $l-size;
    justify-content: space-between;
}

.transfer-card__content-grid {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.transfer__add-account {
    align-items: center;
    align-self: flex-end;
    display: flex;
    margin: $m-size 0 0 0;
    width: 70%;
}

.add-account__icon {
    background: themeColor(grey);
    content: '';
    display: block;
    height: $l-size;
    margin-right: $s-size;
    width: $l-size;
}

.transfer__content {
    align-items: center;
    display: flex;
    height: auto;
    justify-content: space-between;
}

.aside__text {
    width: 20%;
}

.aside__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.type__list {
    list-style: none;
    padding: 0;
}

.type__list-item {
    text-align: center;
    width: 12.6%;
}

.recipent__input {
    border-radius: 5px;
    border: 1px solid themeColor(grey);
    height: $m-size*1.5;
    width: 100%;
}

//radio
.input--radio {
    margin-right: 1rem;
    width: 3rem;
}

.radio__label {
    width: 100%;
}