.transfer-types {
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        @media (min-width: $tablet) and (max-width: $tablet-landscape) {
            width: 62rem;
        }
        @media (min-width: $tablet-landscape) {
            max-width: 92rem;
        }
    }
    &__icon {
        height: 60%;
        width: 30%;

        &--person {
            fill: #2ecc71;
        }
        &--company {
            fill: #2980b9;
        }
        &--phone {
            fill: #f1c40f;
        }
        &--insurence {
            fill: #16a085;
        }
        &--tax {
            fill: #34495e;
        }
        &--charity {
            fill: #c0392b;
        }
    }
    &__single-type {
        align-items: center;
        border-radius: 10px;
        border: 1px solid black;
        display: flex;
        font-size: $m-size;
        height: 10rem;
        width: 100%;
        @media (min-width: $tablet) and (max-width: $tablet-landscape) {
            width: 50%;
        }
        @media (min-width: $tablet-landscape) {
            margin: 1px;
            width: 33%;
        }
    }
}