.h-l-grid {
    display: flex;
    flex-direction: column;
    margin:$s-size 0 0 0;

    @media (min-width: $tablet-landscape) {
        justify-content: space-between;
        margin:$s-size 0 0 0;
        flex-direction: row;
    }
}
.h-l-grid--column {
    flex-direction: column;
    margin-bottom: $xl-size;
    @extend .h-l-grid;
    width: 90%;

    @media (min-width: $tablet-landscape) {
        width: 70%;
    }
}

.history__wrapper {
    border: 1px solid $border-color;
    border-radius: 10px;
    height: 50vh;
    overflow-y: scroll;

}

.h-c__title {
    flex: 1;
}

.list {
    list-style: none;
    padding: 0;
}