.history {
    @media (min-width: $tablet-landscape) {
        height: 10rem;
    }
}

.history-grid {
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet-landscape) {
        justify-content: space-between;
        margin: $s-size 0 0 0;
        flex-direction: row;
    }
}

.history__label {
    margin-right: $s-size;
}