
.h-l-inputs__container {
    @extend .h-l-grid;
    @extend .main__grid;
    width: 100%;
    flex: 1;
    align-items: self-start;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    @media (min-width: $tablet-landscape) {
        flex: 5;
        align-items: center;
    }
}

.h-l__titles {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.h-l__label {
    margin-right: $s-size;
}

.h-l__search,
.h-l__select {
    border-radius: 10px;
    box-shadow: none;
    border: 1px solid black;
    padding: $s-size * 0.5;
    width: 100%;

    @media (min-width: $tablet-landscape) {
        width: 20rem;
    }
}

.h-l__select {
    margin-right: 1rem;
}

.search {
    margin: 0 0 $s-size 0;

    @media (min-width: $tablet-landscape) {
        margin: 0 $s-size 0 0;
    }
}

.inputs__element {
    display: flex;
    align-items: center;
    width: 100%;

    @media (min-width: $tablet-landscape) {
        width: unset;
    }
}

.select-status {
    margin: 0;

    @media (min-width: $tablet-landscape) {
        margin-right: 1rem;
    }
}