.inputs__container {
    @extend .history-grid;
    @extend .main__grid;
    align-items: self-start;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
    width: 100%;

    @media (min-width: $tablet-landscape) {
        align-items: flex-end;
        flex-direction: row;
        flex: 5;
    }
}


.search__input,
.history__filter {
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: none;
    padding: $s-size * 0.5;
    width: 100%;
    @media (min-width: $tablet-landscape) {
        width: 20rem;
    }
}

.history__filter {
    margin-right: 1rem;
}

.search {
    margin: 0 0 $s-size 0;
    @media (min-width: $tablet-landscape) {
        margin: 0 $s-size 0 0;
    }
}

.inputs__element {
    align-items: center;
    display: flex;
    width: 100%;
    @media (min-width: $tablet-landscape) {
        width: unset;
    }
}

.select-status {
    margin: 0;
    margin-right: 1rem;
    @media (min-width: $tablet-landscape) {
        margin-right: 1rem;
    }
}