.history__list {
    @extend .history-grid;
    flex-direction: column;
    margin-bottom: $xl-size;
    width: 90%;

    @media (min-width: $tablet-landscape) {
        width: 70%;
    }
}


.list {

    &__titles {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__container {
        border-radius: 10px;
        border: 1px solid themeColor(border-color);
        height: 60vh;
        overflow-y: scroll;
    }

    &__transactions {
        list-style: none;
        padding: 0;
    }
}