.clients {
    background-image: linear-gradient(rgb(237, 241, 242) 0px, rgb(246, 248, 249));
    &__content {
        display: flex;
        justify-content: center;
        padding: $xxl-size 0;
        @media (min-width: $tablet) {
            justify-content: space-around;
        }
    }
    &__img {
        @media (min-width: $tablet) {
            background: grey;
            height: 30rem;
            width: 50rem;
        }
    }
    &__text {
        @extend .theme__text;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;

        @media (min-width: $tablet) {
            padding: 0 0 0 2rem;
            width: 50rem;
        }
    }
}