.lp-newsletter {
    height: 100%;
    width: 100%;
    &__grid {
        align-items: center;
        display: flex;
        justify-content: center;
    }
    &__content {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 15rem 0;
        width: 70rem;
    }
    &__title {
        font-size: $xl-size;
        text-align: center;
    }
    &__form {
        height: $l-size;
        width: 80%;
    }
    &__text {
        @extend .theme__text;
        padding: 0 $l-size;
        text-align: center;
    }
    &__input {
        border-right: 0px;
        border: 1px solid themeColor(input-color);
        height: inherit;
        padding: 0 $s-size;
        width: 80%;
    }
    &__form-btn {
        height: inherit;
        padding: 0;
        width: 20%;
    }
}