.lp-overview {
    padding: $xxl-size 0;
    &__grid {
        @extend .lp-product__grid;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        @media (min-width: $tablet) {
            flex-direction: row;
        }
    }
    &__content {
        width: 100%;
        @media (min-width: $tablet) {
            text-align: center;
            width: 33.33%;
        }
    }
    &__text {
        width: 90%;
    }
}