.lp-product {
    color: #fff;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    position: relative;
    &::after {
        content: '';
        height: 85%;
        width: 142%;
        position: absolute;
        right: -54rem;
        bottom: -56rem;
        background: white;
        transform: rotate(-33deg);
    }
    &__grid {
        display: flex;
        align-items: center;
    }
    &__title {
        font-size: $xl-size;
        color: #222;
        margin: $m-size 0;
        @media (min-width: $tablet) {
            font-size: $xxl-size;
        }
        &--light {
            color: #fff;
        }
    }
    &__content {
        width: 100%;
        @media (min-width: $tablet-landscape) {
            width: 50%;
        }
    }
    &__text {
        width: 90%;
        @extend .theme__text;
        @media (min-width: $tablet) {
            width: 90%;
        }
    }
    &--gradient-bg {
        background-image: linear-gradient(125deg, #34495e, #27ae60, #16a085, #f1c40f);
        background-size: 400%;
        animation: bg-animation__gradient 15s infinite;
    }
    &__buttons-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 10rem;
        width: 100%;
        @media (min-width: $tablet) {
            flex-direction: row;
            height: unset;
            width: 33rem;
        }
    }
}

.content--dark {
    background-image: linear-gradient(125deg, #34495e, #16a085);
}

.content--light {
    background-image: linear-gradient(42deg, #16a085, #f1c40f);
}