.lp-version {
    &__grid {
        display: flex;
        flex-direction: column;
        @media (min-width: $tablet) {
            flex-direction: row;
        }
    }
    &__content {
        align-items: center;
        color: white;
        display: flex;
        flex-direction: column;
        height: 50rem;
        justify-content: center;
        padding: 0 $xl-size;
    }
    &__text {
        font-size: 2rem;
        padding: $m-size 0;
        text-align: center;
        width: 80%;
        @media (min-width: $tablet) {
            width: 60%;
        }
    }
}