.btn {
    border: none;
    cursor: pointer;
    padding: $s-size $l-size;
    font-weight: 600;
    font-size: $m-size;
    letter-spacing: 2px;
    transition: .3s ease-in-out;
    width: 100%;
    @media (min-width: $tablet) {
        flex-direction: row;
        width: unset;
    }
    &:hover {
        background: btnColor(hover-background);
    }
    &:focus {
        background: btnColor(focus-bg);
        color: btnColor(focus-font);
    }
}

.btn:disabled {
    background: btnColor(btn-disabled);
    transition: .3 ease-in-out;
}

.payment__btn {
    display: none;
    @media (min-width: $tablet-landscape) {
        display: inline-block;
        margin-left: $m-size;
        flex-direction: row;
        width: auto;
    }
}

.btn--bg-transparent {
    background: none;
    color: btnColor(forgotten-password);
}