.header {
    background: $background-color;
    -webkit-box-shadow: 2px 1px 25px -6px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 2px 1px 25px -6px rgba(0, 0, 0, 0.65);
    box-shadow: 2px 1px 25px -6px rgba(0, 0, 0, 0.65);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: $xxl-size;
    width: 100%;
    justify-content: center;
}

.header__container {
    height: 100%;
    width: 100%;

    @media (min-width: $tablet-landscape) {
        width: 90%;
    }
}

.header__wrapper {
    display: flex;
    height: inherit;
}

.header__account {
    display: flex;
    flex: 1;
}

.header__logo {
    height: $xxl-size;
    width: $xxl-size;
    color: white;
    background: grey;
}

.account__profile-img {
    height: $xxl-size;
    width: $xxl-size;
    background: grey;
    color: white;
}
.account__user {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    padding: 0 $s-size;
}

.account__settings {
    display: flex;
    justify-content: space-around;
}


.header__logout {
    display: flex;
    font-weight: bold;
    align-items: center;
}