.listElement {
    padding: $m-size 0;
    margin: $m-size 0;
    display: flex;
    justify-content: normal;
    border-bottom: 1px solid themeColor(input-color);
    font-size: $m-size;
    width: 100%;
    animation: slide-from-fade 1s ease-in-out 0s 1;


    &__date {
        text-align: center;
        width: 20%;
    }

    &__text-wrapper {
        display: flex;
        justify-content: left;
        width: 40%;
    }

    &__text {
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 90%;
    }

    &__category {
        width: 20%;

        &__select {
            border-radius: 10px;
            padding: 2px;
            width: 80%;
        }
    }


    &__amount {
        text-align: right;
        width: 15%;
        font-weight: bold;

        &--income {
            color: modifiers(income);
        }

        &--outcome {
            color: modifiers(outcome);
        }
    }
}

@keyframes slide-from-fade {
    0% {
        transform: translateY(-20%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}