// Place dedicated for global styles
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro');
html {
    font-size: 62.5%;
    background: themeColor(background-color);
    font-family: 'Source Sans Pro', sans-serif;
    color: themeColor(font-color);
}

body {
    font-size: 1.4rem;
}

html,
body,
#app,
.router {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    font-family: 'Playfair Display', serif;
}

.theme__text {
    font-size: 2rem;
    line-height: 1.75;
}

.theme__title-h1 {
    font-size: 24px;
    font-size: $l-size;
    color: themeColor(font-color);
}

.full-width {
    height: 100%;
    width: 100%;
}

.grid-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-10 {
    //100%/12*10
    width: 83%;
}

//component classes
.c__title {
    font-size: $xl-size;
}

* {
    box-sizing: border-box;
}