/*
    Place for variables:
        - colors
        - font-sizes
        - margins
        - etc.
*/


//Main theme
$theme-colors: (
    bg-color: #fff,
    h1-color: #000,
    footer-bg: #2c3e50,
    font-color: #202020,
    input-color: #929090,
    border-color: #0c0b0b,
    blue-accent: #0076FF,
    grey: #808080,
    light-font: #fff,
    inactive-icon: #808080,
    underline-color: #929090,
);

//modifires
$modifiers: (
    income: #27ae60,
    outcome: #e74c3c,
    error: #e74c3c,
    valid: #27ae60,
);

//btn colors
$btn-colors: (
    blue-accent: #0076FF,
    hamburger: #000,
    focus-font: #fff,
    focus-bg: #0076FF,
    background: #0076FF,
    forgotten-password: #0076FF,
    text: #fff,
    hover-background: lighten(#0076FF, 40%),
    hover-text: #fff,
    disabled: #635e5e,
);

//Spacing - sizes
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xxl-size: 9.6rem;

//Device-size
$desktop: 40rem;